* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: "Roboto";
}

aside {
    width: 300px;
    min-height: 100vh;
    border: 1px solid;
}

/* Profile María */

aside .profile-maría {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
    border: 1px gray;
}

aside .info-maría {
    display: flex;
    align-items: center;
    gap: 15px
    
}

aside .profile-maría img {
    display: flex;
    align-items: center;
    width: 50px;
    border-radius: 100px;
}

aside .userdata {
    display: flex;
    flex-direction: column;
}

aside .button-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    border: 1px solid gray;
}

aside .button-chat .btn-chat {
    background-color: #A491D2;
    padding: 1rem 2rem;
    border: none;
    border-radius: 3px;
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
}

aside .button-chat .btn-chat:hover {
    background-color: #D4DCFF;
}

/* Profile Juanita */

.contacts .item-contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
    border: 1px solid;
}

.contacts .item-contacts img {
    display: flex;
    align-items: center;
    width: 60px;
    border-radius: 100px;
}


main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.general img {
    width: 250px;
    margin-bottom: 2rem;
}

main .description {
    max-width: 450px;
    text-align: center;
    
}